/*Text colors*/

.dgray {
    color: $dgray;
}

.lgray {
    color: $lgray;
}

.white {
    color: $white;
}

.offwhite {
    color: $offwhite;
}

.lbluegrey {
    color: $lbluegrey;
}

.lroyalblue {
    color: $lroyalblue;
}


/*Background colors*/

.bg-dgray {
    background-color: $dgray;
}

.bg-lgray {
    background-color: $lgray;
}

.bg-white {
    background-color: $white;
}

.bg-offwhite {
    background-color: $offwhite;
}

.bg-lbluegrey {
    background-color: $lbluegrey;
}

.bg-lroyalblue {
    background-color: $lroyalblue;
}