/* Base */
/*Font*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
/*Breakpoints*/
/*Colors*/
/* Other */
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  color: #504e59; }

/*Text colors*/
.dgray {
  color: #3F3D47; }

.lgray {
  color: #E7E7E7; }

.white {
  color: white; }

.offwhite {
  color: #F6F5FA; }

.lbluegrey {
  color: #e0e3ff; }

.lroyalblue {
  color: #4d25ff; }

/*Background colors*/
.bg-dgray {
  background-color: #3F3D47; }

.bg-lgray {
  background-color: #E7E7E7; }

.bg-white {
  background-color: white; }

.bg-offwhite {
  background-color: #F6F5FA; }

.bg-lbluegrey {
  background-color: #e0e3ff; }

.bg-lroyalblue {
  background-color: #4d25ff; }

h1,
h2,
h3,
h4 {
  font-family: "Crimson Text", serif; }

h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600; }

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4; }

h2 {
  font-size: 26px;
  line-height: 1.23; }

h3 {
  font-size: 21px;
  line-height: 1.29; }

h4 {
  font-size: 18px;
  line-height: 1.33; }

h5 {
  font-size: 15px;
  line-height: 1.4; }

h6 {
  font-size: 14px;
  line-height: 1.43; }

p {
  font-size: 16px;
  line-height: 1.25; }

a {
  font-size: 14px;
  line-height: 1.43;
  color: #4d25ff;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  a:hover {
    color: #844cff; }

/* Components */
.btn-gradient,
a.btn-gradient {
  background: #4d25ff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4d25ff 0%, #4d25ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4d25ff 0%, #4d25ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4d25ff), to(#4d25ff));
  background: -o-linear-gradient(left, #4d25ff 0%, #4d25ff 100%);
  background: linear-gradient(to right, #4d25ff 0%, #4d25ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lroyalblue', endColorstr='$lroyalblue', GradientType=1);
  /* IE6-9 */
  border: none;
  color: white;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 12px;
  padding: 16px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .btn-gradient:hover,
  a.btn-gradient:hover {
    background: #844cff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #4d25ff 0%, #844cff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4d25ff 0%, #844cff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#4d25ff), to(#844cff));
    background: -o-linear-gradient(left, #4d25ff 0%, #844cff 100%);
    background: linear-gradient(to right, #4d25ff 0%, #844cff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lroyalblue', endColorstr='$electricviolet', GradientType=1);
    /* IE6-9 */
    -webkit-box-shadow: 0 2px 6px 0 rgba(77, 37, 255, 0.1);
    box-shadow: 0 2px 6px 0 rgba(77, 37, 255, 0.1); }

.btn-standard,
a.btn-standard {
  background-color: white;
  border: solid 1.5px #4d25ff;
  border-radius: 19px;
  color: #4d25ff;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin: 12px;
  padding: 15px 12px;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .btn-standard:hover,
  a.btn-standard:hover {
    border-color: #844cff;
    color: #844cff; }

.input-txt-field {
  color: #4d25ff;
  font-weight: 700; }
  .input-txt-field input {
    color: #4d25ff;
    font-weight: 700;
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #4d25ff;
    width: 100%; }

.select-dropdowns {
  border: none;
  border-bottom: 1px solid #4d25ff;
  color: #4d25ff;
  display: block;
  font-weight: 700;
  padding: 8px;
  width: 100%; }
  .select-dropdowns option {
    font-weight: 700; }

/* Modules */
