/* Base */
/*Font*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
/*Breakpoints*/
/*Colors*/
/* forms */
/* Other */
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  color: #504e59; }

p {
  font-size: 16px;
  line-height: 1.25; }

/* Elements */
/*Text colors*/
.black {
  color: black; }

.dgray {
  color: #3F3D47; }

.lgray {
  color: #E7E7E7; }

.white {
  color: white; }

.offwhite {
  color: #F6F5FA; }

.lbluegrey {
  color: #e0e3ff; }

.lroyalblue {
  color: #4d25ff; }

/*Background colors*/
.bg-dgray {
  background-color: #3F3D47; }

.bg-lgray {
  background-color: #E7E7E7; }

.bg-white {
  background-color: white; }

.bg-offwhite {
  background-color: #F6F5FA; }

.bg-lbluegrey {
  background-color: #e0e3ff; }

.bg-lroyalblue {
  background-color: #4d25ff; }

h1, .title-h1,
h2, .title-h2,
h3, .title-h3,
h4, .title-h4 {
  font-family: "Crimson Text", serif;
  text-align: center; }

h5, .title-h5,
h6, .title-h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-align: center; }

h1, .title-h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 30px 0; }

h2, .title-h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
  padding-bottom: 26px 0; }

h3, .title-h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.29;
  padding: 21px 0; }

h4, .title-h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  padding: 18px 0; }

h5, .title-h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  padding: 15px 0; }

h6, .title-h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  padding: 14px 0; }

.title-h7 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.46;
  margin: 0;
  padding: 13px 0; }

.subheader {
  color: #504e59;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  padding: 18px 0; }

.content {
  color: #504e59;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  padding: 16px 0; }

.footnote {
  color: #504e59;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  padding: 14px 0; }

.subtitle {
  color: #504e59;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  padding: 14px 0; }

a {
  font-size: 14px;
  line-height: 1.43;
  color: #4d25ff;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  a:hover {
    color: #844cff; }

/* Components */
.btn-gradient,
a.btn-gradient {
  background: #4d25ff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4d25ff 0%, #4d25ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4d25ff 0%, #4d25ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4d25ff), to(#4d25ff));
  background: -o-linear-gradient(left, #4d25ff 0%, #4d25ff 100%);
  background: linear-gradient(to right, #4d25ff 0%, #4d25ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lroyalblue', endColorstr='$lroyalblue', GradientType=1);
  /* IE6-9 */
  border: none;
  color: white;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  height: 40px;
  margin: 12px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .btn-gradient:hover,
  a.btn-gradient:hover {
    background: #844cff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #4d25ff 0%, #844cff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4d25ff 0%, #844cff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#4d25ff), to(#844cff));
    background: -o-linear-gradient(left, #4d25ff 0%, #844cff 100%);
    background: linear-gradient(to right, #4d25ff 0%, #844cff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lroyalblue', endColorstr='$electricviolet', GradientType=1);
    /* IE6-9 */
    -webkit-box-shadow: 0 2px 6px 0 rgba(77, 37, 255, 0.1);
    box-shadow: 0 2px 6px 0 rgba(77, 37, 255, 0.1); }

.btn-standard,
a.btn-standard {
  background-color: white;
  border: solid 1.5px #4d25ff;
  border-radius: 19px;
  color: #4d25ff;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  height: 40px;
  margin: 12px;
  padding: 12px;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .btn-standard:hover,
  a.btn-standard:hover {
    border-color: #844cff;
    color: #844cff; }

.icon {
  display: inline-block;
  height: 22px;
  margin-right: 10px;
  width: 20px; }
  .icon-menu {
    background: url("../svg/icon-nav-open-purple.svg") 50% 50% no-repeat; }
    .icon-menu-white {
      background: url("../svg/icon-nav-close-white.svg") 50% 50% no-repeat; }
  .icon-arrow {
    background: url("../svg/icon-dropdown-arrow-purple.svg") 50% 50% no-repeat; }
    .icon-arrow-white {
      background: url("../svg/icon-dropdown-arrow-white.svg") 50% 50% no-repeat; }
  .icon-edit {
    background: url("../img/icons/edit-purple.png") 50% 50% no-repeat; }
    .icon-edit-white {
      background: url("../img/icons/edit-white.png") 50% 50% no-repeat; }
  .icon-deconnexion {
    background: url("../svg/icon-deconnexion-purple.svg") 50% 50% no-repeat; }
    .icon-deconnexion-white {
      background: url("../svg/icon-deconnexion-white.svg") 50% 50% no-repeat; }
  .icon-profil {
    background: url("../svg/icon-profil-purple.svg") 50% 50% no-repeat; }
    .icon-profil-white {
      background: url("../svg/icon-profil-white.svg") 50% 50% no-repeat; }
  .icon-play-white {
    background: url("../img/icons/play-white.png") 50% 50% no-repeat; }
  .icon-volume-white {
    background: url("../img/icons/volume-white.png") 50% 50% no-repeat; }
  .icon-close-white {
    background: url("../svg/icon-close-white.svg") 50% 50% no-repeat; }
  .icon-facebook-white {
    background: url("../svg/logo-facebook.svg") 50% 50% no-repeat; }
  .icon-twitter-white {
    background: url("../svg/logo-twitter.svg") 50% 50% no-repeat; }

.icon-table-arrow {
  display: inline-block;
  height: 20px;
  margin-right: 3px;
  width: 8px;
  vertical-align: bottom; }
  .icon-table-arrow.arrow-grey {
    background: url("../svg/icon-table-arrow-grey.svg") 50% 50% no-repeat; }
  .icon-table-arrow.arrow-black {
    background: url("../svg/icon-table-arrow-black.svg") 50% 50% no-repeat; }
  .icon-table-arrow.arrow-red {
    background: url("../svg/icon-table-arrow-red.svg") 50% 50% no-repeat; }
  .icon-table-arrow.arrow-green {
    background: url("../svg/icon-table-arrow-green.svg") 50% 50% no-repeat; }

.input-txt-field {
  color: #4d25ff;
  font-weight: 700; }
  .input-txt-field label {
    color: #797687;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.46; }
  .input-txt-field input {
    border: none;
    border-bottom: 1px solid #4d25ff;
    color: #4d25ff;
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    padding: 8px;
    width: 100%; }
    .input-txt-field input:focus {
      outline: none; }
    .input-txt-field input::-webkit-input-placeholder {
      color: #4d25ff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 15px;
      font-weight: 600;
      opacity: 1; }
    .input-txt-field input:-ms-input-placeholder {
      color: #4d25ff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 15px;
      font-weight: 600;
      opacity: 1; }
    .input-txt-field input::placeholder {
      color: #4d25ff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 15px;
      font-weight: 600;
      opacity: 1; }

.select-dropdowns {
  border: none;
  border-bottom: 1px solid #4d25ff;
  color: #4d25ff;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  height: 40px;
  padding: 8px;
  width: 100%; }
  .select-dropdowns option {
    font-weight: 700; }
  .select-dropdowns:focus {
    outline: none; }
  .select-dropdowns .select-dropdowns-placeholder {
    display: none; }
  .select-dropdowns .select-dropdowns-option:hover {
    background-color: #4d25ff;
    color: white; }

table {
  border-collapse: collapse;
  border: 1px solid #d2cfe6;
  width: 100%; }
  table th,
  table td {
    padding: 10px 25px;
    border-top: 1px solid #d2cfe6;
    border-bottom: 1px solid #d2cfe6; }
    table th:last-child,
    table td:last-child {
      border-right: 1px solid #d2cfe6; }
  table thead tr th {
    color: #8c8a99;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    width: 20%; }
    table thead tr th:first-child {
      color: #3F3D47; }
  table tbody tr td {
    text-align: left; }
  table .classement-no {
    width: 6%; }
  table .border-top {
    border-top: 1px solid #d2cfe6;
    border-right: 1px solid #d2cfe6; }
  table .identifiant .membre-photo {
    padding-right: 6px;
    width: auto; }
    table .identifiant .membre-photo .membre-photo-cercle {
      -webkit-border-radius: 11px;
      -moz-border-radius: 11px;
      border-radius: 11px;
      height: 22px;
      width: 22px; }
  table .identifiant .membre-nom {
    font-size: 16px; }

.even {
  background: #e0e3ff; }

.display-table {
  display: table;
  width: 100%; }

.display-row, .tendances .box div .display-table p, .termes-recurrents .duo-box .box-under .display-table p {
  display: table-row; }

.identifiant .membre-photo,
.identifiant .membre-nom,
.identifiant .membre-modifier {
  display: table-cell;
  vertical-align: middle; }

.identifiant .membre-photo {
  width: 50px; }
  .identifiant .membre-photo .membre-photo-cercle {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    overflow: hidden;
    width: 40px; }

.identifiant .membre-nom {
  font-family: "Crimson Text", serif;
  font-size: 21px;
  line-height: 1.29;
  text-align: left; }

.identifiant .membre-modifier {
  text-align: right; }

@media (max-width: 767px) {
  .identifiant {
    padding: 10px 20px;
    width: 100%; }
    .identifiant .membre-photo .membre-photo-cercle {
      height: 60px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      width: 60px; }
    .identifiant .membre-nom {
      padding: 0 10px;
      font-size: 15px; } }

/* Modules */
.hero {
  background: #4d25ff url("../img/hero.png") 50% 50% no-repeat;
  background-size: cover;
  height: 383px;
  text-align: center;
  width: 100%; }
  .hero h2 {
    padding-top: 110px; }
  .hero p {
    margin: 0; }
    .hero p .title-h2 {
      margin: 0 5px; }
  .hero a {
    margin-top: 42px; }
  @media (max-width: 479px) {
    .hero {
      height: 320px; }
      .hero h2 {
        padding-top: 110px; } }

.statistiques .box {
  background-color: white;
  border: solid 1px #d2cfe6;
  padding: 30px 20px;
  text-align: left; }
  .statistiques .box .area-title {
    color: #504e59;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: left; }
  .statistiques .box .bloc-header {
    display: table;
    width: 100%; }
    .statistiques .box .bloc-header .membre-photo,
    .statistiques .box .bloc-header .membre-nom,
    .statistiques .box .bloc-header .membre-modifier {
      display: table-cell;
      vertical-align: middle; }
    .statistiques .box .bloc-header .membre-photo {
      width: 50px; }
      .statistiques .box .bloc-header .membre-photo .membre-photo-cercle {
        height: 40px;
        overflow: hidden;
        width: 40px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px; }
    .statistiques .box .bloc-header .membre-nom {
      font-family: "Crimson Text", serif;
      font-size: 21px;
      line-height: 1.29;
      text-align: left;
      color: #504e59; }
    .statistiques .box .bloc-header .membre-modifier {
      text-align: right; }
  .statistiques .box .bloc-classement {
    display: table;
    width: 100%; }
    .statistiques .box .bloc-classement .bloc-classement-head,
    .statistiques .box .bloc-classement .bloc-classement-data {
      display: table-row; }
    .statistiques .box .bloc-classement .bloc-classement-head {
      color: #8c8a99;
      font-family: "Josefin Sans", sans-serif;
      font-size: 12px;
      font-weight: bold;
      height: 20px;
      line-height: 1.5;
      text-align: left;
      text-transform: uppercase; }
    .statistiques .box .bloc-classement .bloc-classement-data {
      color: #504e59;
      font-family: "Josefin Sans", sans-serif;
      font-size: 16px;
      height: 20px;
      line-height: 1.25;
      text-align: left; }
    .statistiques .box .bloc-classement .col1,
    .statistiques .box .bloc-classement .col2,
    .statistiques .box .bloc-classement .col3,
    .statistiques .box .bloc-classement .col4 {
      display: table-cell; }
    .statistiques .box .bloc-classement .col1 {
      width: 10%; }
    .statistiques .box .bloc-classement .col2 {
      padding-left: 8px;
      width: 20%; }
    .statistiques .box .bloc-classement .col3 {
      width: 30%; }
    .statistiques .box .bloc-classement .col4 {
      width: 40%; }
  .statistiques .box .bloc-categorie-head .display-table,
  .statistiques .box .bloc-categorie .display-table {
    display: table; }
    .statistiques .box .bloc-categorie-head .display-table .intitule,
    .statistiques .box .bloc-categorie .display-table .intitule {
      display: table-cell;
      width: calc(100% - 60px); }
    .statistiques .box .bloc-categorie-head .display-table .points,
    .statistiques .box .bloc-categorie .display-table .points {
      display: table-cell;
      width: 60px; }
  .statistiques .box .bloc-categorie-head {
    color: #8c8a99;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 100%; }
  .statistiques .box .bloc-categorie .subtitle-h7 {
    margin: 0;
    padding: 0 !important;
    text-align: left; }

div.bloc-categorie {
  padding-bottom: 15px; }

.tendances .box {
  background-color: white;
  border: solid 1px #d2cfe6;
  padding: 30px 20px;
  text-align: center; }
  .tendances .box div a {
    margin: 0 auto; }
  .tendances .box div p, .tendances .box div p.title-h7 {
    margin: 0;
    padding: 0;
    text-align: left; }
    .tendances .box div p:first-child, .tendances .box div p.title-h7:first-child {
      padding: 0; }
  .tendances .box div .display-table p span {
    display: table-cell;
    width: calc(100% - 60px); }
    .tendances .box div .display-table p span.points {
      width: 60px; }

.ajouter-une-expression .box {
  background-color: white;
  border: solid 1px #d2cfe6;
  padding: 30px 20px;
  text-align: center; }
  .ajouter-une-expression .box .box-texte-1,
  .ajouter-une-expression .box .box-texte-2 {
    color: #504e59;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 15px;
    text-align: left; }
  .ajouter-une-expression .box .box-texte-1 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4; }
  .ajouter-une-expression .box .box-texte-2 {
    font-size: 16px;
    line-height: 1.25; }
  .ajouter-une-expression .box .box-choisir-une-categorie {
    margin-bottom: 35px; }
  .ajouter-une-expression .box .box-citation {
    margin-bottom: 30px;
    text-align: left; }
  .ajouter-une-expression .box a {
    margin: 0 auto; }

.carte-star .box {
  background-color: white;
  border: solid 1px #d2cfe6;
  padding: 30px 20px;
  text-align: center; }
  .carte-star .box .photo-notification {
    display: inline-block;
    height: 120px;
    position: relative;
    width: 120px; }
    .carte-star .box .photo-notification .photo-membre {
      height: 120px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      width: 120px;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      border-radius: 60px; }
    .carte-star .box .photo-notification .notification-label {
      background-color: #4d25ff;
      color: white;
      font-family: "Crimson Text", serif;
      font-size: 24px;
      font-weight: bold;
      height: 24px;
      line-height: 1;
      min-width: 24px;
      overflow-y: hidden;
      padding: 2px 5px 0 5px;
      position: absolute;
      right: 10px;
      text-align: center;
      top: 0px;
      z-index: 5;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px; }
  .carte-star .box .membre-nom {
    font-family: "Crimson Text", serif;
    font-size: 26px;
    line-height: 1.23; }
  .carte-star .box .member-details {
    display: table;
    width: 100%; }
    .carte-star .box .member-details .numbers-row {
      display: table-row; }
      .carte-star .box .member-details .numbers-row .cell {
        color: #504e59;
        display: table-cell;
        font-family: "Crimson Text", serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;
        width: 33.333%; }
    .carte-star .box .member-details .legends-row {
      display: table-row; }
      .carte-star .box .member-details .legends-row .cell {
        color: black;
        display: table-cell;
        font-family: "Josefin Sans", sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.46;
        text-align: center;
        width: 33.333%; }

.termes-recurrents .duo-box .box {
  background-color: white;
  border: solid 1px #d2cfe6;
  padding: 20px 60px 30px 60px;
  text-align: center; }
  .termes-recurrents .duo-box .box .box-titre-1 {
    color: #504e59;
    font-family: "Crimson Text", serif;
    font-size: 26px;
    line-height: 1.23;
    text-align: left;
    margin-bottom: 15px;
    text-align: center; }
  .termes-recurrents .duo-box .box .box-sous-titre-1 {
    color: #504e59;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    text-align: center; }
  .termes-recurrents .duo-box .box .choix {
    margin-bottom: 35px; }
    .termes-recurrents .duo-box .box .choix:last-of-type {
      margin-bottom: 30px; }
  .termes-recurrents .duo-box .box a {
    margin: 0 auto; }

.termes-recurrents .duo-box .box-under {
  background-color: #fbfafc;
  border-bottom: solid 1px #d2cfe6;
  border-left: solid 1px #d2cfe6;
  border-right: solid 1px #d2cfe6;
  padding: 20px 60px 30px 60px;
  text-align: center;
  background: -moz-linear-gradient(90deg, #fbfafc 0%, #fbfafc 94%, #f1f0f2 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f0f2), color-stop(6%, #fbfafc), color-stop(100%, #fbfafc));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, #fbfafc 0%, #fbfafc 94%, #f1f0f2 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #fbfafc 0%, #fbfafc 94%, #f1f0f2 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #fbfafc 0%, #fbfafc 94%, #f1f0f2 100%);
  /* ie10+ */
  background: -webkit-gradient(linear, left bottom, left top, from(#fbfafc), color-stop(94%, #fbfafc), to(#f1f0f2));
  background: -webkit-linear-gradient(bottom, #fbfafc 0%, #fbfafc 94%, #f1f0f2 100%);
  background: -o-linear-gradient(bottom, #fbfafc 0%, #fbfafc 94%, #f1f0f2 100%);
  background: linear-gradient(0deg, #fbfafc 0%, #fbfafc 94%, #f1f0f2 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F0F2', endColorstr='#fbfafc',GradientType=0 );
  /* ie6-9 */ }
  .termes-recurrents .duo-box .box-under p, .termes-recurrents .duo-box .box-under p.title-h7 {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left; }
    .termes-recurrents .duo-box .box-under p:first-child, .termes-recurrents .duo-box .box-under p.title-h7:first-child {
      padding: 0; }
  .termes-recurrents .duo-box .box-under .display-table p {
    height: 30px; }
    .termes-recurrents .duo-box .box-under .display-table p span {
      display: table-cell;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      width: calc(100% - 60px); }
      .termes-recurrents .duo-box .box-under .display-table p span.points {
        width: 60px; }

.nav-main {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #3F3D47;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 70px; }
  .nav-main .nav-logo img {
    max-height: 50px; }
  .nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .nav-main ul li {
      border: none;
      color: white;
      display: block;
      float: left;
      outline: none;
      padding: 20px 30px;
      width: auto; }
      .nav-main ul li a {
        color: white;
        text-decoration: none; }
  @media (max-width: 767px) {
    .nav-main {
      background: #180F3C;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .nav-main .nav-logo {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        width: 100%;
        background-color: black; }
        .nav-main .nav-logo img {
          max-height: 50px;
          padding: 2px 20px; }
      .nav-main ul {
        text-align: center;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; }
        .nav-main ul li {
          float: initial;
          padding: 12px 0; }
          .nav-main ul li a {
            font-size: 26px; }
      .nav-main .identifiant {
        background-color: rgba(12, 0, 37, 0.9); } }
