.hero {
    background: $lroyalblue url('../img/hero.png') 50% 50% no-repeat;
    background-size: cover;
    height: 383px;
    text-align: center;
    width: 100%;

    h2 {
        padding-top: 110px;
    }

    p {
        margin: 0;
        .title-h2 {
            margin: 0 5px;
        }
    }

    a {
        margin-top: 42px;
    }

    @include xs-only {
        height: 320px;
        h2 {
            padding-top: 110px;
        }
    }
}