.hero {
    background: $lroyalblue url('../img/hero.png') no-repeat;
    background-size: cover;
    height: 383px;
    text-align: center;
    width: 100%;

    h2 {
        font-size: 30px;
        margin-top: 110px;
    }
}