.nav-main {
    align-items: center;
    background: $dgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 70px;
    .nav-logo {
        img {
            max-height: 50px;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            border: none;
            color: $white;
            display: block;
            float: left;
            outline: none;
            padding: 20px 30px;
            width: auto;
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
    

    @include hs-under {
        background: #180F3C;
        flex-direction: column;
        .nav-logo {
            align-self: flex-start;
            width: 100%;
            background-color: $black;
            img {
                max-height: 50px;
                padding: 2px 20px;
            }
        }
        ul {
            text-align: center;
            order: 2;
            li {
                float: initial;
                padding: 12px 0;
                a {
                    font-size: 26px;
                }
            }
        }
        .identifiant {
            background-color: rgba(12, 0, 37, 0.9);
        }
        
    }
}