.tendances {
    .box {
        background-color: $white;
        border: solid 1px $bordergrey;
        padding: 30px 20px;
        text-align: center;

        div {
            a {
                margin: 0 auto;
            }
            p, p.title-h7 {
                margin: 0;
                padding: 0;
                text-align: left;

                &:first-child {
                    padding: 0;
                }
            }
            .display-table {
                p {
                    @extend .display-row;

                    span {
                        display: table-cell;
                        width: calc(100% - 60px);

                        &.points {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
}