.input-txt-field {
    color: $lroyalblue;
    font-weight: 700;

    label {
        color: $inputlabelcolor;
        font-family: $josefin;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.46;
    }

    input {
        border: none;
        border-bottom: 1px solid $lroyalblue;
        color: $lroyalblue;
        display: block;
        font-family: $josefin;
        font-size: 15px;
        font-weight: 600;
        height: 40px;
        padding: 8px;
        width: 100%;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $lroyalblue;
            font-family: $josefin;
            font-size: 15px;
            font-weight: 600;
            opacity: 1;
        }
    }
}
