.select-dropdowns {
    border: none;
    border-bottom: 1px solid $lroyalblue;
    color: $lroyalblue;
    display: block;
    font-family: $josefin;
    font-weight: 600;
    height: 40px;
    padding: 8px;
    width: 100%;
    option {
        font-weight: 700;

    }
    &:focus {
        outline: none;
    }
    .select-dropdowns-placeholder {
        display: none;
    }
    .select-dropdowns-option {
        &:hover {
            background-color: $lroyalblue;
            color: $white;
        }
    }
}
