table {
    border: 1px solid $bordergrey;

    thead {
        tr th {
            color: $dgray;
            text-transform: uppercase;
        }
    }

    tbody {
        tr {
            border: 1px solid $bordergrey;
            td {

            }
        }
    }

    tfoot {
        tr {
            border: 1px solid $bordergrey;
            td {

            }
        }
    }
}

.display-table {
    display: table;
    width: 100%;
}

.display-row {
    display: table-row;
}
