/* Base */
/*Font*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
/*Breakpoints*/
/*Colors*/
/* Other */
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  color: #504e59;
}

p {
  font-size: 16px;
  line-height: 1.25;
}

/* Elements */
/*Text colors*/
.dgray {
  color: #3F3D47;
}

.lgray {
  color: #E7E7E7;
}

.white {
  color: white;
}

.offwhite {
  color: #F6F5FA;
}

.lbluegrey {
  color: #e0e3ff;
}

.lroyalblue {
  color: #4d25ff;
}

/*Background colors*/
.bg-dgray {
  background-color: #3F3D47;
}

.bg-lgray {
  background-color: #E7E7E7;
}

.bg-white {
  background-color: white;
}

.bg-offwhite {
  background-color: #F6F5FA;
}

.bg-lbluegrey {
  background-color: #e0e3ff;
}

.bg-lroyalblue {
  background-color: #4d25ff;
}

.icon-menu {
  display: inline-block;
  height: 16px;
  width: 18px;
}

.icon-menu:before {
  content: '';
  background-image: url("../svg/icon-nav-open-purple.svg");
  background-size: cover;
  position: absolute;
  margin-right: 10px;
}

table {
  border: 1px solid black;
  -webkit-border-radius: 10px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 10px;
  /* Firefox 1-3.6 */
  border-radius: 10px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

table thead tr th {
  color: #3F3D47;
  text-transform: uppercase;
}

table tr {
  border: 1px solid black;
}

h1,
h2,
h3,
h4 {
  font-family: "Crimson Text", serif;
  text-align: center;
}

h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 30px 0;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
  padding-bottom: 26px 0;
}

h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.29;
  padding: 21px 0;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  padding: 18px 0;
}

h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  padding: 15px 0;
}

h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  padding: 14px 0;
}

.title-h7 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.46;
  padding: 13px 0;
}

.subheader {
  color: #504e59;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  padding: 18px 0;
}

.content {
  color: #504e59;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  padding: 16px 0;
}

.footnote {
  color: #504e59;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  padding: 14px 0;
}

.subtitle {
  color: #504e59;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  padding: 14px 0;
}

a {
  font-size: 14px;
  line-height: 1.43;
  color: #4d25ff;
  transition: all ease 0.3s;
}

a:hover {
  color: #844cff;
}

/* Components */
.btn-gradient,
a.btn-gradient {
  background: #4d25ff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4d25ff 0%, #4d25ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4d25ff 0%, #4d25ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #4d25ff 0%, #4d25ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lroyalblue', endColorstr='$lroyalblue', GradientType=1);
  /* IE6-9 */
  border: none;
  color: white;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 12px;
  padding: 16px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.3s;
}

.btn-gradient:hover,
a.btn-gradient:hover {
  background: #844cff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4d25ff 0%, #844cff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4d25ff 0%, #844cff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #4d25ff 0%, #844cff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lroyalblue', endColorstr='$electricviolet', GradientType=1);
  /* IE6-9 */
  box-shadow: 0 2px 6px 0 rgba(77, 37, 255, 0.1);
}

.btn-standard,
a.btn-standard {
  background-color: white;
  border: solid 1.5px #4d25ff;
  border-radius: 19px;
  color: #4d25ff;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin: 12px;
  padding: 15px 12px;
  text-decoration: none;
  transition: all ease 0.3s;
}

.btn-standard:hover,
a.btn-standard:hover {
  border-color: #844cff;
  color: #844cff;
}

.input-txt-field {
  color: #4d25ff;
  font-weight: 700;
}

.input-txt-field input {
  color: #4d25ff;
  font-weight: 700;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #4d25ff;
  width: 100%;
}

.select-dropdowns {
  border: none;
  border-bottom: 1px solid #4d25ff;
  color: #4d25ff;
  display: block;
  font-weight: 700;
  padding: 8px;
  width: 100%;
}

.select-dropdowns option {
  font-weight: 700;
}

/* Modules */
